body{
    background-color: antiquewhite;

    margin: 20px;

    left: 6%;
    padding: 6px;
    
    color:aqua;

    font-weight: bold;

    font-family: sans-serif;

    display: block;

    line-height: 2em;

    top:2%;

}